html{
	margin:0;
	padding:0;
	height:100%;
}

p{
	line-height:16pt;
}

body{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin:0 auto;
	background:url("https://scontent-ord1-1.xx.fbcdn.net/v/t1.0-9/13092125_1702200183382713_2660176065682571574_n.jpg?oh=d0540e581f20bb4e4c39e0e4ff57c37c&oe=57A48813");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

header{
	margin:10px 60px;
	width:100%;
}

.container{
	width:68%;
	height:100%;
	margin:0 auto;
	background:#fff;
}

.left-container-feed{
	width: 65%;
	display:inline-block;
	padding: 0 15px 0 60px;
	box-sizing: border-box;
}

aside{
	width: 35%;
	float:right;
	display:inline-block;
	padding:70px 60px 0 30px;
	box-sizing: border-box;
}

.module{
	padding:0px 0 40px 0;
	border-bottom:1px solid #aaa;
	margin: 0 0 30px 0;
}

.module p a{
	float:right;
	color:#F9D483;
	font-size:10pt;
	margin-bottom:30px;
}

.module a{
	color:#F9D483;
	line-height:16pt;
}

.module p{
	font-size:10pt;
}

.module h4{
	font-family: 'Lato', sans-serif;
	font-weight:100px;
}

.module ul li{
	font-size:10pt;
}

img{
	width:100%;
}

header h1{
	margin:10px 0;
	padding: 35px 0 0 0;
	display:inline-block;
}

header h1 a{
	font-size:40px;
	margin:40px 0;
	color:#F9D483;
	font-weight: 300;
}

header nav a{
	color: #fff;
    background: #d2d2d2;
    border-bottom: 1px solid #efefef;
    padding: 11px;
    text-align: center;
    width: 12%;
    display: inline-block;
}

header nav a:hover{
	background:orange;
}

a{
	text-decoration:none;
}

header h2{
	font-size:15px;
	margin:0 0 20px 0;
	font-weight: 300;
	display:inline-block;
	padding: 0 20px;
}

article{
	border-bottom:1px solid #aaa;
	padding:0 0 20px 0;
}

article h3 {
	color:#d2d2d2;
	margin:40px 0 10px 0;
	font-size:25px;
	font-weight: 300;
}

article h2{
	margin:10px 0;
}

article h2 a{
	font-size:20px;
	color:#333;
	font-weight: 300;
	font-size:30px;
}

article h4{
	padding:10px 0;
}

article h4 a{
	float:right;
	color:#F9D483;
	font-size:10pt;
}

.image-overlay:hover article p {
	   transition: all linear .3s;
	-webkit-transition: all linear .3s;

}

article p {
	font-size:10pt;
	   transition: all linear .3s;
	-webkit-transition: all linear .3s;
}

article p:first-letter{ 
	float: left;  
	font-size: 75px; 
	line-height: 60px; 
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 3px; 
	color:#d2d2d2;
}

footer{
	margin:10px 60px;
}

footer nav a{
	font-size:10pt;
	/*margin-left:5px;*/
	color:#F9D483;
}

footer nav a:nth-child(1):after, 
footer nav a:nth-child(2):after, 
footer nav a:nth-child(3):after,
footer nav a:nth-child(4):after,
footer nav a:nth-child(5):after{
	content:"|";
	color:#000;
	font-size:10px;
	padding:0 7px;
}

/*     Extra     */
.image-overlay{
	position: relative;
	overflow: hidden;
	height:200px;
	width:100%;
}

.description{
    top: -127px;
    position: relative;
    opacity:0;
    text-align: left;
    font-size:9pt;
    font-style: italic;
    transition: all linear .3s;
	-webkit-transition: all linear .3s;
}

.image-overlay:hover{
	overflow: visible;
	height:auto;
}

.image-overlay:hover .description{
	top:0;
	opacity:1;
	background:#efefef;
	transition: all linear .3s;
	-webkit-transition: all linear .3s;
	/*position:inherit;*/
}

/*.description{
	position: absolute;*/
    top: 127px;
    /*width: 95%;*/
    /*margin: 0 20px;*/
 /*   text-align: left;
   	opacity:0;
    font-size:9pt;
    font-style: italic;
    transition: all linear .3s;
	-webkit-transition: all linear .3s;
}*/

/*.image-overlay:hover{
	overflow: visible;
	height:auto;
}

.image-overlay:hover .description{
	top:0;
	opacity:1;
	background:#efefef;
	transition: all linear .3s;
	-webkit-transition: all linear .3s;
	position:inherit;
}*/

/*.description{
	position: absolute;
    top: 127px;
    width: 95%;
    margin: 0 20px;
    text-align: left;
    opacity:1;
    z-index:100;
    font-size:9pt;
    font-style: italic;
}*/

/*img:hover{
	background-color:rgba(0,0,0,.8);
	z-index:100;
}

img:hover{
	background-color:rgba(0,0,0, .6);
}

.image-overlay:hover{
	background-color:rgba(0,0,0,.8);
	z-index:20;
}

.image-overlay img:hover~.description{
	opacity:1;
}*/













